In [1]:
import pandas as pd
import sys
import csv
import json

In [26]:
# Reading and Writing Data in Text Format
# !cat ./examples/ex1.csv
# !echo
# !cat ./examples/ex2.csv

pd.read_csv("./examples/ex2.csv", header=None)
pd.read_csv("./examples/ex2.csv", names=["a","b","c","d","message"])
parsed = pd.read_csv("./examples/csv_mindex.csv", index_col=["key1","key2"])
result = pd.read_csv("./examples/ex3.txt", sep="\s+")
pd.read_csv("./examples/ex4.csv",skiprows=[0,2,3])
result = pd.read_csv("./examples/ex5.csv")
result.isna()
pd.isna(result)
result = pd.read_csv("./examples/ex5.csv", na_values=["NULL"])
result2 = pd.read_csv("./examples/ex5.csv", keep_default_na=False)
result2.isna()
result3 = pd.read_csv("./examples/ex5.csv", keep_default_na=False, na_values=["NA"])
result3.isna()

sentinels = {"message":["foo","NA"], "something":["two"]}
pd.read_csv("./examples/ex5.csv", na_values=sentinels, keep_default_na=False,)

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6       8   world
2     three  9  10  11  12     NaN

In [ ]:
#Reading Text Files in Pieces
pd.options.display.max_rows = 10 # default is 60
result = pd.read_csv("./examples/ex6.csv")

pd.read_csv("./examples/ex6.csv", nrows=5)
chunker = pd.read_csv("./examples/ex6.csv", chunksize=1000)
type(chunker)
tot = pd.Series([], dtype='int64')
for piece in chunker:
    tot = tot.add(piece["key"].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)
tot[:10]

In [52]:
#Writing Data to Text Format
data = pd.read_csv("./examples/ex5.csv")
# data.to_csv("./examples/out.csv")

# data.to_csv(sys.stdout, sep="|")
# data.to_csv(sys.stdout, na_rep="NULL")
# data.to_csv(sys.stdout, index=False, header=False)
data.to_csv(sys.stdout, index=False, header=["d","e","f"], columns=["a","b","c"])

d,e,f
1,2,3.0
5,6,
9,10,11.0

In [59]:
#Working with Other Delimited Formats
f = open("./examples/ex7.csv")
# reader = csv.reader(f)
# for line in reader:
#     print(line)
# f.close()

# with open("./examples/ex7.csv") as f:
#     lines = list(csv.reader(f))
# header, value = lines[0], lines[1:]
# data_dict = {h:v for h, v in zip(header, zip(*value))}
# data_dict

class my_dialect(csv.Dialect):
    lineterminator = "\n"
    delimiter = ";"
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
reader = csv.reader(f, dialect=my_dialect)
for line in reader:
    print(line)
f.close()

['a,"b","c"']
['1,"2","3"']
['1,"2","3"']

In [ ]:
#JSON Data
obj = """
{"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
"""
result = json.loads(obj)
json_str = json.dumps(result)
siblings = pd.DataFrame(result["siblings"],columns=["name","age"])
# data = pd.read_json("./examples/example.json")
# data.to_json(sys.stdout,orient="records")
tables = pd.read_html("./examples/fdic_failed_bank_list.html")
len(tables)
failures = tables[0]
close_timestamps = pd.to_datetime(failures["Closing Date"])
close_timestamps.dt.year.value_counts()

In [14]:
from lxml import objectify

path = "./examples/datasets/mta_perf/Performance_MNR.xml"

with open(path) as f:
    parsed = objectify.parse(f)

root = parsed