In [146]:
import numpy as np
import pandas as pd

In [147]:
obj = pd.Series([4,7,-5,3])
obj.array
obj.index

obj2 = pd.Series([4,7,-5,3], index=["d","b","a","c"])
obj2.index
obj2["a"]
obj2["d"] = 6
obj2[["c","a","d"]]
obj2[obj2>0]
obj2 *2
np.exp(obj2)
"e" in obj2
"a" in obj2

sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
obj3 = pd.Series(sdata)
obj3.to_dict()

states = ["California", "Ohio", "Oregon", "Texas"]
obj4 = pd.Series(sdata, index=states)
pd.isna(obj4)
obj4.isna()
pd.notna(obj4)
obj4.notna()
obj3+obj4
obj4.name = "population"
obj4.index.name = "state"
obj.index = ["Bob", "Steve", "Jeff", "Ryan"]
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [148]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame.head()
frame.tail()

pd.DataFrame(data, columns=["year","state","pop"])
frame2 = pd.DataFrame(data, columns=["year","state","pop","debt"])
frame2.columns
frame2.state
frame2["year"]

frame2.loc[1]
frame2.iloc[2]

frame2["debt"] = 16.5

val = pd.Series([-1.2,-1.5,-1.7], index=["two","four","five"])
frame2["debt"] = val # not work

frame2["eastern"] = frame2["state"] == "Ohio" # will not work with `frame2.eastern`
del frame2["eastern"]

populations = {"Ohio": {2000: 1.5, 2001: 1.7, 2002: 3.6},
               "Nevada": {2001: 2.4, 2002: 2.9}}

frame3 = pd.DataFrame(populations)
frame3.T
pdata = {"Ohio": frame3["Ohio"].iloc[:-1],
         "Nevada": frame3["Nevada"].iloc[:2]}
# pd.DataFrame(pdata)
frame3.index.name = "year"
frame3.columns.name = "state"
#frame3.Name = "popluations" # DataFrame doesn't exist Name attribute
frame3.to_numpy()
frame2.to_numpy()

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, nan],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, nan],
       [2002, 'Nevada', 2.9, nan],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

In [149]:

obj = pd.Series(np.arange(3), index=["a","b","c"])
index = obj.index
index[1:]
# index[1] = "d" # TypeError

labels = pd.Index(np.arange(3))
labels
obj2 = pd.Series([1.5,-2.5,0], index=labels)
obj2.index is labels

frame3.columns
"Ohio" in frame3.columns
2003 in frame3.index

# obj2 = pd.Series([1,2,3,4],index= pd.Index(["foo", "foo", "bar", "bar"]))
# obj2["bar"]

frame3.index.unique()

Int64Index([2000, 2001, 2002], dtype='int64', name='year')

In [198]:
# reindexing
obj = pd.Series([4.5,7.2,-5.3,3.6], index=["d","b","a","c"])
obj2 = obj.reindex(["a","b","c","d","e"])
obj3 = pd.Series(["blue","purple","yellow"], index=[0,2,4])
obj3.reindex(np.arange(6), method="ffill")

frame = pd.DataFrame(np.arange(9).reshape(3,3), index=["a","c","d"],
                     columns=["Ohio","Texas","California"])
frame2 = frame.reindex(index=["a","b","c","d"])
frame2
states = ["Texas", "Utah","California"]
# frame.reindex(columns=states,fill_value=9)
frame.loc[["a","d","c"],["California", "Texas"]]

# dropping entries from an Axis
obj = pd.Series(np.arange(5.), index=["a","b","c","d","e"])
new_obj = obj.drop("c")
obj.drop(["d","c"])

data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])

data.drop(index=["Colorado", "Ohio"])
data.drop(columns=["two"])
data.drop(["two"], axis=1)
data.drop(["two","four"], axis="columns")

# Indexing Selection and Filtering
obj = pd.Series(np.arange(4.), index=["a","b","c","d"])
obj["b"]
obj[1]
obj[2:4]
obj[["b","a","d"]]
obj[[1,3]]
obj[obj<2]
obj.loc[["b","a","d"]]
obj.iloc[[1,2,3]]
obj.loc[obj>2]

obj1 = pd.Series([1,2,3], index=[2,0,1])
obj2 = pd.Series([1,2,3], index=["a","b","c"])
obj2[[0,1,2]]
# obj2.loc[[0,1]] # error index doesn't contain
obj2.iloc[[0,1,2]]
obj2.loc["b":"c"] = 5

data = pd.DataFrame(np.arange(16).reshape((4,4)),
                    index=["Ohio", "Colorado", "Utah", "New York"],
                    columns=["one", "two", "three", "four"])
data[["two","three"]]
data[:2]
data[data["three"]>5]
data[data < 5] = 0
data.loc[["Colorado","New York"]]
data.loc["Colorado", ["two","three"]]
data.iloc[2]
data.iloc[[2,1]]
data.iloc[2,[3,0,1]]
data.loc[:"Utah", "two"]

data.iloc[:,:3][data.three>5]
data.loc[data.three>=2]
# data.reindex(["one", "two", "three", "four"],axis=0)
data.T

       Ohio  Colorado  Utah  New York
one       0         0     8        12
two       0         5     9        13
three     0         6    10        14
four      0         7    11        15

In [206]:
#Integer indexing pitfalls
ser = pd.Series(np.arange(3.),
                # index=['a','b','c'] #default number index will cause indexing error
                )
# ser[-1] # KeyError
ser.iloc[-1] # work perfect
ser[:2]

0    0.0
1    1.0
dtype: float64

In [217]:
#Pitfalls with chained indexing
data.loc[:,"one"] = 1
data.iloc[2] = 5
data.loc[data["four"]>5] = 3
# data.loc[data.three == 5]["three"] = 6 # modified temp data
data.loc[data.three == 5, ["three"]] = 6
# data

In [249]:
#Arithmetic and Data Alignment
s1 = pd.Series([7.3,-2.5,3.4,1.5], index=["a","c","d","e"])
s2 = pd.Series([-2.1,3.6,-1.5,4,3.1],index=["a","c","e","f","g"])
s1+s2

df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),
                   columns=list("bcd"),index=["Ohio", "Texas", "Colorado"])
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),
                   columns=list("bde"),index=["Utah", "Ohio", "Texas", "Oregon"])

df1 = pd.DataFrame({"A":[1,2]})
df2 = pd.DataFrame({"B":[3,4]})
df1+df2

df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list("abcd"))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list("abcde"))
df2.loc[1, "b"] = np.nan
df1+df2
df1.add(df2,fill_value=0)
1 / df1
df1.div(1)
df1.reindex(columns=df2.columns, fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [266]:
#Operations between DataFrame and Series
arr = np.arange(12.).reshape((3,4))
arr[0]
arr - arr[0]
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),
                    columns=list("bde"),
                    index=["Utah", "Ohio", "Texas", "Oregon"])
series = frame.iloc[0]
series2 = pd.Series(np.arange(3), index=list("bef"))
series2 + frame
series3 = frame['d']
frame
series3
frame.sub(series3,axis="index")

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [389]:
#Function Application and Mapping
frame = pd.DataFrame(np.random.standard_normal((4,3)),
                     columns=list("bde"),
                     index=["Utah", "Ohio", "Texas", "Oregon"])
frame
np.abs(frame)

def f1(x):
    return x.max()-x.min()
frame.apply(f1)
frame.apply(f1, axis="columns")

def f2(x):
    return pd.Series([x.min(), x.max()], index=["min","max"])
frame.apply(f2)

def my_format(x):
    return f"{x:.2f}"

frame.applymap(my_format)
# frame["e"].map(my_format)

            b      d     e
Utah    -0.60   2.17  1.34
Ohio    -0.37   0.83  0.37
Texas    0.06  -1.10  0.91
Oregon  -0.64   0.40  0.36

In [309]:
#Sorting and Ranking
obj=pd.Series(np.arange(4),index=["d","a","b","c"])
obj.sort_index()

frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     index=["three","one"],
                     columns=["d","a","b","c"])
frame.sort_index()
frame.sort_index(axis="columns")
frame.sort_index(axis="columns", ascending=False)

obj = pd.Series([4,7,-3,2])
obj.sort_values()

obj = pd.Series([4,np.nan,7,np.nan,-3,2])
obj.sort_values()
obj.sort_values(na_position="first")

frame = pd.DataFrame({"b":[4,7,-3,2],"a":[0,1,0,1]})
frame.sort_values("b")
frame.sort_values(["a","b"])

obj=pd.Series([7,-5,7,4,2,0,4])
obj.rank() # avg
obj.rank(method="first") # observe order
obj.rank(ascending = False)

frame = pd.DataFrame({"b":[4.3,7,-3,2],"a":[0,1,0,1],"c":[-2,5,8,-2.5]})
frame.rank(axis="columns")
# frame

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [324]:
#Axis Indexes with Duplicate Labels
obj = pd.Series(np.arange(5), index=list("aabbc"))
obj.index.is_unique
obj["a"]
obj["c"]
df = pd.DataFrame(np.random.standard_normal((5,3)),
                  index=list("aabbc"))
df.loc["c"]
df.loc["b"]

          0         1         2
b -0.319724  1.020477 -1.426964
b  0.723391 -1.554454  2.207887

In [346]:
#Summarizing and Computing Descriptive Statistics
df = pd .DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
                   index=["a","b","c","d"],
                   columns=["one","two"])
df.sum(axis="columns")
df.sum(axis="columns", skipna=False)
df.mean(axis="index")

df.idxmax() # get max value index
df.cumsum() # accumulation
df.describe()
df.cumprod()
# df

     one   two
a  1.400   NaN
b  9.940 -4.50
c    NaN   NaN
d  7.455  5.85

In [347]:
#Correlation and Covariance
price = pd.read_pickle("./examples/yahoo_price.pkl")
volume = pd.read_pickle("./examples/yahoo_volume.pkl")

In [359]:
returns = price.pct_change()
returns.tail()
returns["MSFT"].corr(returns["IBM"])
returns["MSFT"].cov(returns["IBM"])

returns.corr()
returns.cov()
returns.corrwith(returns["IBM"])
returns.corrwith(volume)

AAPL   -0.075565
GOOG   -0.007067
IBM    -0.204849
MSFT   -0.092950
dtype: float64

In [391]:
#Unique Values, Value Counts, and Membership
obj = pd.Series(["c", "a", "d", "a", "a", "b", "b", "c", "c"])
uniques = obj.unique()
obj.value_counts()
pd.value_counts(obj.to_numpy(), sort=False)
mask = obj.isin(["b","c"])
obj[mask]

to_match = pd.Series(["c","a","b","b","c","a"])
unique_vals = pd.Series(["c","b","a"])
indices = pd.Index(unique_vals).get_indexer(to_match)
indices
data = pd.DataFrame({"Qu1":[1,3,4,3,4],
                     "Qu2":[2,3,1,2,3],
                     "Qu3":[1,5,2,4,4]})
data["Qu1"].value_counts().sort_index()
result = data.apply(pd.value_counts).fillna(0)
result

data = pd.DataFrame({"a":[1,1,1,2,2],"b":[0,0,1,0,0]})
data.value_counts()
## In this case, the result has an index representing the distinct rows as a hierarchical index, a topic we will explore in greater detail in Ch 8: Data Wrangling: Join, Combine, and Reshape.

a  b
1  0    2
2  0    2
1  1    1
dtype: int64